In [3]:
import pandas as pd
import numpy as np

In [4]:
train_merged=pd.read_csv('train_merged.csv')

In [5]:
train_merged[train_merged.click_times==1]

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times,age,gender
0,1,1,0,5,381,78,81,398695,1,4,1
1,68590,63392,0,18,14681,88,14,398695,1,4,1
2,127337,114621,0,18,9409,25,3,398695,1,4,1
3,138157,124124,23,2,9065,319,8,398695,1,4,1
4,147066,132027,0,18,22918,319,1,398695,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...
30082762,4146938,3557684,1261,2,10988,6,90,630049,1,3,2
30082763,4147704,3558343,1261,2,10988,6,91,630049,1,3,2
30082765,4204088,3606569,1261,2,10988,6,88,630049,1,3,2
30082766,4263153,3657208,1810,2,61922,319,90,630049,1,3,2
30082767,4291152,3680507,2400,2,57709,246,89,630049,1,3,2

In [3]:
predict_merged=pd.read_csv('predict_merged.csv')

In [4]:
predict_merged.describe()

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
count,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07,3.358551e+07
mean,1.674632e+06,1.446292e+06,3.922139e+03,8.125964e+00,2.122169e+04,1.611937e+02,4.797323e+01,3.499714e+06,1.066196e+00
std,1.308090e+06,1.120606e+06,9.098822e+03,7.055398e+00,1.408001e+04,1.290848e+02,2.593779e+01,2.883313e+05,3.561287e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,3.000001e+06,1.000000e+00
25%,4.158050e+05,3.708990e+05,0.000000e+00,2.000000e+00,1.098600e+04,8.000000e+00,2.600000e+01,3.249486e+06,1.000000e+00
50%,1.506880e+06,1.309499e+06,1.290000e+02,3.000000e+00,1.810300e+04,2.030000e+02,4.900000e+01,3.500907e+06,1.000000e+00
75%,2.737762e+06,2.353237e+06,1.873000e+03,1.800000e+01,3.012200e+04,2.930000e+02,7.100000e+01,3.748320e+06,1.000000e+00
max,4.445720e+06,3.812202e+06,4.431400e+04,1.800000e+01,6.296500e+04,3.350000e+02,9.100000e+01,4.000000e+06,1.850000e+02

In [4]:
pred_click_log=pd.read_csv("../test/click_log.csv")

In [5]:
pred_click_log["user_id"].nunique()

1000000